nav.navbar.navbar-default(role='navigation')
 .container-fluid
   .navbar-header
      ul.nav.navbar-nav
        li: a.active(href='/') Home
        li: a.active(href='/about') About
        li: a.active(href='/contact') Contact
        li: a.active(href='/faq') FAQs
